# Data Science Tools and Ecosystem

## Author:
John Konik

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science 
* List some of the commonly used libraries used by data scientists
* List open source data science tools in a table

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib

|Data Science Tools|
--------------------
| Rstudio           |
| Apache Spark      |
| TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
minperhour = 60
hours = minutes/minperhour
print (hours)

3.3333333333333335